# MUSIKII BACKEND ENVIRONMENT VARIABLES

# Choose a database between SQLite and PostgreSQL
# PostgreSQL unlocks additional feature but requires some configuration, refer to the README
# Valid values : 'postgresql', 'sqlite'
DB_DIALECT=

# Choose the master API Key
# It can be anything but to generate a secure one, execute this command: python -c "import secrets; print(secrets.token_urlsafe(32))"
API_KEY=
